/* fonts */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:700");
@font-face { 
    font-family: circular;
    src: url("../Circular/CircularStd-Light.otf");
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: circular;
    src: url("../Circular/CircularStd-Light Italic.otf");
    font-weight: 200;
    font-style: italic;
}
/* Normal */
@font-face {
    font-family: circular;
    src: url("../Circular/CircularStd-Book.otf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: circular;
    src: url("../Circular/CircularStd-BookItalic.otf");
    font-weight: normal;
    font-style: italic;
}
/* Medium */
@font-face {
    font-family: circular;
    src: url("../Circular/CircularStd-Medium.otf");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: circular;
    src: url("../Circular/CircularStd-MediumItalic.otf");
    font-weight: 500;
    font-style: italic;
}
/* Bold */
@font-face {
    font-family: circular;
    src: url("../Circular/CircularStd-Bold.otf");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: circular;
    src: url("../Circular/CircularStd-BoldItalic.otf");
    font-weight: bold;
    font-style: italic;
}
/* Bolder */
@font-face {
    font-family: circular;
    src: url("../Circular/CircularStd-Black.otf");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: circular;
    src: url("../Circular/CircularStd-BlackItalic.otf");
    font-weight: 700;
    font-style: italic;
}

body{
    background: linear-gradient(to bottom right, #69d0ff, pink);
    font-family: circular, sans-serif;
}

.flex-row{
    display: flex;
    flex-direction: row;
    column-gap: 14px;
}

.flex-row-inverse{
    display: flex;
    flex-direction: row-reverse;
    column-gap: 14px;
}

 nav a{
    font-size: 24px;
    margin-left: 50px;
    margin-right: 50px;
    position: relative;
    color: #000;
    text-decoration: none;
  }
  
  nav a:hover {
    color: black;
    font-weight: 1000;
  }
  
  nav a::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }
  
  nav a:hover::before {
    transform: scaleX(1);
  }

#home-world{
    width: 700px;
    padding: 50px;
}

.current{
    text-decoration: underline white;
    text-decoration-thickness: 3.5px;
    font-weight: 1000;
}

.skip a{
    background: white;
    left: 0;
    padding: 6px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
    top: -40px;
    position: absolute;
  }
  
  .skip a:focus{
    position: static;
    top: 0px;
    visibility: visible;
  }

nav {
    height: 40px;
    border-radius: 25px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

nav ul {
    text-align: center;
}

nav li {
    text-decoration: none;
    margin-bottom: 5px;
    margin-top: 5px;
    display: inline-block;
}

header{
    background-color: white;
}

.page-title{
    text-decoration: none;
    color:black;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 36px;
    color: black;
}

.home-grid-container{
    align-items: center;
    justify-content: center;
    display:grid;
}


.grid-item1{
    text-align: left;
}

#home-1{
    display: flex;
    column-gap: none;

}


#my-name-is{
    font-size: 24px;
    margin-bottom: -5px;
    font-weight: 100;
}

#ux-designer{
    font-size: 36px;
    font-weight: 700;
}

#everywhere{
    font-size: 18px;
}

#qoute-person{
    text-align: left;
    font-size: 20px;
}

#home-world{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.about-images{
    border-radius: 25px;
    display: block;
    width: 100%;
    border-radius: 25px;
}

.border-radius{
    border-radius: 25px;
    background-color: white;
}

.about-headers{
    background-color: white;
    width: 100vw;
}

.about-p{
    font-size: 24px;
    background-color: white;
    border-radius: 25px;
    padding: 10px;
    margin-bottom: 10px;
    align-items: center;
}

.all-flip-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flip-card-container:hover .flip-card{
    transform: rotateY(180deg);
}

.flip-card-container{
    margin: 20px;
    box-sizing: border-box;
    width: 530px;
    height: 337px;
    perspective: 3000px;
}
.flip-card-container-2{
    margin: 20px;
    box-sizing: border-box;
    width: 600px;
    height: 337px;
    perspective: 3000px;
}

.flip-card{
    box-sizing: border-box;
    transition: transform 1s;
    transform-style: preserve-3d;
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;
    width: 100%;
}

.flip-card-back, .flip-card-front{
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
}

.flip-card-back{
    border-radius: 25px;
    background: white;
    height: 100%;
    transform: rotateY(180deg);
}

.flip-card-front{
    border-radius: 25px;
    background: white;
}

.flip-card img {
    height: 100%;
    width: 100%; 
    border-radius: 25px;
}

.all-interests{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.interest-img img{
    width: 500px;
    border-radius: 25px;
    margin: 20px;
    background-color: white;
}

.interest-text{
    background-color: white;
    width: 500px;
    margin: 20px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 10px;
    border-radius: 25px;
}


footer {
    margin-top: 10px;
    width: 100vw;
    background-color: white;
}

footer p {
    margin-left: 10px;
}

#diversity-image{
    border-radius: 25px;
}

#ellis-island-image{
    border-radius: 25px;
}

#angel-island-image{
    border-radius: 25px;
}

#elon{
    border-radius: 25px;
}

#brin{
    border-radius: 25px;
}

#einstein{
    border-radius: 25px;
}

#jayapal{
    border-radius: 25px;
}

#icons{
    border-radius: 25px;
    padding: 10px;
    display: block;
    background-color: white;
    text-align: center;
    margin: 20px;
}

.bold{
    font-weight: bold;
}

.immigrants-flex-container{
    border-radius: 25px;
    padding: 10px;
    margin: auto;
    margin-bottom: 10px;
    background-color: white;
    display:flex;
    flex-direction: column;
    width: 90%;
    vertical-align: center;
}

#immigrant-text-container-1{
    text-align: center;
    vertical-align: center;
}

#immigrant-text-container-2{
    text-align: center;
    vertical-align: center;
}

#immigrant-text-container-3{
    text-align: center;
    vertical-align: center;
}

#immigrant-text-container-4{
    text-align: center;
    vertical-align: center;
}

#icon-header{
    font-size: 36px;
}

#resume{
    display: block;
    text-align: center;
    background-color: white;
    font-weight: bold;
    font-size: 16px;
}

#resume-container{
    background-color: white;
    border-radius: 25px;
    margin-right: 50px;
    margin-left: 50px;
    padding: 10px;
}

.resume-details{
    font-size: 12px;
}
#resume-name-container{
    display: block;
    text-align: center;
}

#link-container{
    background-color: white;
    border-radius: 25px;
    margin: 20px;
    margin-top: 5px;
    padding: 10px;
}

.bold{
    font-weight: 900;
    font-size: 20px;
}

.form-group{
    padding: 10px;
    margin: 50px;
    margin-top: 25px;
    margin-bottom: 30px;
    box-sizing: border-box;
    background: white;
    align-items: center;
    justify-content: center;
    text-align: left;
    border-radius: 25px;
}

.center{
    text-align: center;
}

button[type='submit']{
width: 25%;
justify-content: center;
height: 50px;
border-radius: 25px;
font-size: 24px;
border-width: 1px;
border-color: black;
background-color: #FFCCE5;
}

.form-group input,
.form-group textarea{
    width: 100%;
}

@media only screen /*Tablet*/
  and (min-device-width: 700px) 
  and (-webkit-min-device-pixel-ratio: 1){


#icons{
    border-radius: 25px;
    padding: 20px;
    display: block;
    background-color: white;
    margin: 50px;
    margin-top: 0px;
}

 .home-grid-container{
    margin-left: 40px;
    margin-right: 40px;
 }

.immigrants-flex-container{
    border-radius: 25px;
    padding: 10px;
    margin: auto;
    margin-bottom: 10px;
    background-color: white;
    display:flex;
    flex-direction: row;
    width: 90%;
}

#immigrant-text-container-1{
    padding-top: 50px;
    text-align: center;
}

#immigrant-text-container-2{
    padding-top: 40px;
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
}

#ellis-island-image{
    width: 2400px;
}

#angel-island-image{
    width: 100%;
    border-radius: 25px;
    float: right;
}

#immigrant-text-container-3{
    padding-top: 15px;
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
}


}


@media only screen /*Desktop*/
and (min-device-width: 1200px) 
and (-webkit-min-device-pixel-ratio: 1){

/* Homepage */
.home-grid-container{
    width: 100px;
}

#one{

    margin-top: 150px;
    margin-bottom: 420px;
    display:flex;
    justify-content: center;
}

#two{
    text-align: left;
    margin-left: 40px;
    margin-right: 40px;
    height: 195px;
    border-radius: 25px;
    padding: 20px;
    padding-top: 150px;
}

#two a{
    text-decoration: none;
    color: black;
}

#two a:hover{
    color: #2867B2;
    transition: .15s;
    transition-property: color; 
    
}

#three img{
    width: 450px;

}